<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
 <connectionStrings>
    <add name="CRM" connectionString="ServiceUri=https://sparrow143.crm.dynamics.com/; Domain=; Username=john@sparrow143.onmicrosoft.com; Password=rocky@123;AuthType=Office365;"/>
  </connectionStrings>
</configuration>
